<form [formGroup]="taskForm" (ngSubmit)="createTask()">

  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select>
      <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" > Create Task</button>
</form>
